{% extends "base.html" %}
{% block title %}Записи сообщества {{ group }}{% endblock %}
{% block header %}{{ group }}{% endblock %}
{% block content %}
    {% if group %}
    <h1>{{ group }}</h1>
    <p>{{ group.description }}</p>
    {% else %}
    <h1>Без группы:</h1>
    {% endif %}
    {% for post in posts %}
    <h3>
        Автор: {{ post.author }}, Дата публикации: {{ post.pub_date|date:"d M Y" }}
    </h3>
    <p>{{ post.text|linebreaksbr }}</p>
    {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}

{% endblock %}