{% extends "base.html" %}
{% block title %}Поиск{% endblock %}
{% block header %}Поиск{% endblock %}
{% block content %}
<br>
<form name = "subject" method="post">{% csrf_token %}
    <input type = "text" name = "search">
    <button type="submit" class="btn btn-primary">
    Найти
    </button>
</form>
<h3>По вашему поисковому запросу "{{ keyword }}" найдены следующие посты в количестве {{ count }}:</h3>
    {% for post in posts %}
    <h3>
        Автор: {{ post.author }}, Дата публикации: {{ post.pub_date|date:"d M Y" }}
    </h3>
    <p>{{ post.text|linebreaksbr }}</p>
    {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}

{% endblock %}