{% extends "base.html" %}
{% block title %}Просмотр записи{% endblock %}
{% block header %}Просмотр записи{% endblock %}
{% block content %}
{% load thumbnail %}
{% load user_filters %}
<main role="main" class="container">
    <div class="row">
            <div class="col-md-3 mb-3 mt-1">
                <div class="card">
                        <div class="card-body">
                                <div class="h2">
                                {{ post.author.get_full_name }}
                                </div>
                                <div class="h3 text-muted">
                                @{{ post.author }}
                                </div>
                        </div>
                        <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                        <div class="h6 text-muted">
                                        Подписчиков: XXX <br />
                                        Подписан: XXX
                                        </div>
                                </li>
                                <li class="list-group-item">
                                        <div class="h6 text-muted">
                                            Записей: {{ author.posts.count }}
                                        </div>
                                </li>
                        </ul>
                </div>
        </div>

        <div class="col-md-9">
                        {% include "post_item.html" with post=post %}
                                _________________________________________________________________________________________________________________________
                                <br><br>
                                {% for item in page %}
                                <div class="media mb-4">
                                <div class="media-body">
                                <h5 class="mt-0">
                                <a
                                        href="{% url 'profile' item.author.username %}"
                                        name="comment_{{ item.id }}"
                                        >{{ item.author.username }}</a>
                                </h5>
                                {{ item.text }}
                                </div>
                                </div>
                                <br>
                                {% endfor %}

                                {% if page.has_other_pages %}
                                {% include "paginator.html" with items=page paginator=paginator %}
                                {% endif %}

                                {% include 'comments.html' with form=form %}
                        </div>
                        
                </div>
     </div>
    </div>
</main>
{% endblock %}